@import "base/base";
@import "base/typography";

.header {
  height: 50vh;
  background-image: linear-gradient(
      to right rgba(65, 208, 233, 0.6),
      rgba(65, 200, 200, 0.6)
    ),
    url(../assets/sky.jpg);
  background-position: 50% 50%;
  background-size: cover;

  &__image {
    width: 20rem;
    height: 20rem;
    animation: 2s dance cubic-bezier(0.5, 0, 0.5, 1) infinite alternate;
  }
}

@keyframes dance {
  from {
    transform: translateY(-10%);
  }
  to {
    transform: perspective(100) translateY(10%) scale(1.1) rotateY(10deg);
  }
}

.section-about {
  position: relative;
  max-width: 50rem;
  top: -10rem;
  left: 50%;
  padding: 5rem;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
  transform: translate(-50%);
  background: white;

  &__heading {
    font-size: 2rem;
    line-height: 2;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);

    span {
      display: inline-block;
      padding: 0.5rem 0;
      background-color: var(--color-primary);
      border-radius: 0.5rem;
    }
  }

  &__text {
    line-height: 2;
    border-bottom: 2px solid var(--color-primary);
  }
}

.project {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 2rem;
  padding: 5rem;

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 35rem;
    background: white;
    padding: 2rem;
    border-left: 5px double var(--color-primary);
    border-radius: 0.5rem;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s cubic-bezier(0.5, 0, 0.5, 1);

    img {
      width: 100%;
      margin-bottom: 0.5rem;
    }

    img,
    h2,
    p {
      margin-bottom: 1rem;
    }

    h2 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 2rem;

      span {
        display: flex;
        gap: 0.5rem;
      }

      a {
        width: 2rem;
        height: 2rem;
        border: none;
        background: transparent;
        cursor: pointer;
      }
    }

    .link {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      img {
        width: 2rem;
      }
    }

    &:hover {
      transform: scale(1.1);
      z-index: 10;
    }
  }
}

.footer {
  background: linear-gradient(
    to right rgba(65, 208, 233, 0.6),
    rgba(65, 200, 200, 0.6)
  );
  padding: 5rem;

  h3,
  p {
    margin-bottom: 1rem;
  }

  &__email {
    display: flex;
    align-items: center;
    gap: 1rem;

    svg {
      fill: #3f51b5;
    }
  }
}
