*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #ffcc20;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  font-size: 1.6rem;
}

.header {
  height: 50vh;
  background-image: linear-gradient(
      to right rgba(65, 208, 233, 0.6),
      rgba(65, 200, 200, 0.6)
    ),
    url(../assets/sky.jpg);
  background-position: 50% 50%;
  background-size: cover;

  &__image {
    width: 20rem;
    height: 20rem;
    animation: 2s dance cubic-bezier(0.5, 0, 0.5, 1) infinite alternate;
  }
}

.section-about {
  position: relative;
  max-width: 50rem;
  top: -10rem;
  left: 50%;
  padding: 5rem;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
  transform: translate(-50%);
  background: white;

  &__heading {
    font-size: 2rem;
    line-height: 2;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);

    span {
      display: inline-block;
      padding: 0.5rem 0;
      background-color: var(--color-primary);
      border-radius: 0.5rem;
    }
  }

  &__text {
    line-height: 2;
    border-bottom: 2px solid var(--color-primary);
  }
}

.project {
  // display: grid;
  // grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 2rem;
  padding: 5rem;

  &__card {
    flex: 1 1 35rem;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);

    img {
      width: 100%;
    }

    h2 {
      font-size: 2rem;
    }
  }
}

@keyframes dance {
  from {
    transform: translateY(-10%);
  }
  to {
    transform: perspective(100) translateY(10%) scale(1.1) rotateY(10deg);
  }
}
